@media (min-width: 600px) {

    .dp9-card {
        width: 340px;
        /*height: 344px;*/
    }

    .dp9-card >md-card-title > md-card-title-text> .md-headline {
        width: 308px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
}

.dp9-list-item-p {
    width: 276px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}

