<md-dialog aria-label="{{::vm.action}}" ng-cloak flex="40">
    <form name="vm.candidateForm" novalidate ng-submit="vm.candidateForm.$valid && vm.save(vm.candidate)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{::vm.action}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel($event)">
                    <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="50" flex-xs flex-sm>
                        <label>First Name</label>
                        <input name="firstName" type="text" ng-model="vm.candidate.firstName" required md-autofocus
                               md-maxlength="32"
                               ng-model-options="{debounce: {'default': 400, 'blur': 0}}"/>
                        <div ng-messages="vm.candidateForm.firstName.$error" md-auto-hide="false"
                             ng-if="vm.candidateForm.firstName.$dirty">
                            <div ng-message="required">
                                A first name is required
                            </div>
                            <div ng-message="md-maxlength">
                                This first name is too long
                            </div>
                        </div>
                    </md-input-container>
                    <div hide-xs hide-sm flex="5"></div>
                    <md-input-container class="md-block" flex-gt-sm="50" flex-xs flex-sm>
                        <label>Last Name</label>
                        <input name="lastName" type="text" ng-model="vm.candidate.lastName" required md-maxlength="32"/>
                        <div ng-messages="vm.candidateForm.lastName.$error" md-auto-hide="false"
                             ng-if="vm.candidateForm.lastName.$dirty">
                            <div ng-message="required">
                                A last name is required
                            </div>
                            <div ng-message="md-maxlength">
                                This last name is too long
                            </div>

                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="50" flex-xs flex-sm>
                        <label>Email</label>
                        <input name="email" type="email" ng-model="vm.candidate.email"
                               ng-model-options="{debounce: {'default': 400, 'blur': 0}}"/>
                        <div ng-messages="vm.candidateForm.email.$error" md-auto-hide="false"
                             ng-if="vm.candidateForm.email.$dirty">
                            <div ng-message="required">
                                An email is required
                            </div>
                            <div ng-message="email">
                                This email is invalid
                            </div>
                        </div>
                    </md-input-container>
                    <div hide-xs hide-sm flex="5"></div>
                    <md-input-container class="md-block" flex-gt-sm="50" flex-xs flex-sm>
                        <label>Phone Number</label>
                        <input name="phone" type="tel" ng-model="vm.candidate.phone"/>
                        <!--<div ng-messages="vm.candidateForm.phone.$error" md-auto-hide="false" ng-if="vm.candidateForm.phone.$dirty">-->
                        <!--<div ng-message="required">-->
                        <!--A phone is required-->
                        <!--</div>-->
                        <!--</div>-->
                    </md-input-container>

                </div>

                <div layout="row" layout-align="end center">
                    <!--<span flex></span>-->
                    <md-button ng-click="vm.cancel($event)">
                        Cancel
                    </md-button>
                    <md-button class="md-primary" type="submit" ng-disabled="vm.candidateForm.$invalid">
                        Save
                    </md-button>

                </div>
            </div>
        </md-dialog-content>
        <!--<md-dialog-actions layout="row">-->

        <!--</md-dialog-actions>-->
    </form>
</md-dialog>

