<div layout="column" flex class="dp9-clients-view">
    <div layout="row">
        <div layout="column" id="cardListDiv">
            <div layout="row" flex="100" class="dp9-card-list-title">
                <h1 id="cardListH1">
                    Clients
                </h1>
            </div>
        </div>
    </div>
    <md-content flex layout="row" layout-xs="column" flex-xs="100" layout-fill layout-wrap layout-padding>
        <md-card class="dp9-card md-whiteframe-3dp" flex-xs="100" ng-repeat="c in vm.clients.data | orderBy : 'name'">
            <md-card-title class="dp9-card-title">
                <md-card-title-text>
                        <span class="md-headline">
                            {{c.name}}
                            <md-tooltip md-delay="300">{{c.name}}</md-tooltip>
                        </span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="column" flex>
                <md-list>
                    <md-subheader class="md-no-sticky">
                        <span ng-if="c.positions.length > 4">Top</span>
                        Positions
                    </md-subheader>
                    <md-list-item class="dp9-card-list-item" ui-sref="positionDetail({'clientId': c.$id, 'positionId': p.$id})" ng-repeat="p in c.positions | orderObjectBy: 'priority' : false | limitTo:4">
                        <p>{{p.name}}</p>
                    </md-list-item>
                    <!--4 ITEMS MAX-->
                </md-list>

            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
                <md-button class="" ui-sref="positions({'clientId': c.$id})" flex>
                    View
                    <span ng-if="c.positions.length > 4">All Positions</span>
                    <md-tooltip md-direction="top" md-delay="400" ng-if="c.positions.length > 4">{{c.positions.length - 4}} additional positions not shown</md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>





    </md-content>
</div>
