<div layout="row" flex>
    <div flex layout="row" layout-xs="column" layout-wrap>
        <div ng-repeat="c in vm.clients.data | orderBy : 'name'">
            <md-card class="dp9-card md-whiteframe-3dp">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            {{c.name}}
                            <md-tooltip md-delay="300">{{c.name}}</md-tooltip>
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout="column">
                    <md-list>
                        <md-subheader class="md-no-sticky">
                            <span ng-if="c.positions.length > 4">Top</span>
                            Positions
                        </md-subheader>
                        <md-list-item ng-click="vm.goToPosition()" ng-repeat="p in c.positions | orderObjectBy: 'priority' : false | limitTo:4">
                            <p>{{p.name}}</p>
                        </md-list-item>
                        <!--4 ITEMS MAX-->
                    </md-list>
                    <md-button class="md-raised" ui-sref="positions({'clientId': c.$id})">
                        View
                        <span ng-if="c.positions.length > 4">All Positions</span>
                        <md-tooltip md-direction="top" md-delay="400" ng-if="c.positions.length > 4">{{c.positions.length - 4}} additional positions not shown</md-tooltip>
                    </md-button>
                </md-card-content>
            </md-card>
        </div>
        <!--<div>-->
            <!--<md-card class="dp9-card md-whiteframe-3dp">-->
                <!--<md-card-title>-->
                    <!--<md-card-title-text>-->
                        <!--<span class="md-headline">House Lannister</span>-->
                        <!--<md-tooltip>House Lannister</md-tooltip>-->
                    <!--</md-card-title-text>-->
                <!--</md-card-title>-->

                <!--<md-card-content layout="column">-->
                    <!--<md-list>-->
                        <!--<md-subheader class="md-no-sticky">Top Positions</md-subheader>-->
                        <!--<md-list-item ng-click="vm.goToPosition()">-->
                            <!--&lt;!&ndash;<md-icon md-svg-icon="social:person"></md-icon>&ndash;&gt;-->
                            <!--<p>Champion</p>-->
                        <!--</md-list-item>-->
                        <!--<md-list-item ng-click="vm.goToPosition()">-->
                            <!--&lt;!&ndash;<md-icon md-svg-icon="social:person"></md-icon>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Dish Washer of Lower Westeros and The Seven Kingdoms Defender</p>&ndash;&gt;-->
                            <!--<p class="dp9-list-item-p">-->
                                <!--Dish Washer of Lower Westeros and The Seven Kingdoms Defender-->
                            <!--</p>-->
                        <!--</md-list-item>-->
                        <!--&lt;!&ndash;<md-list-item ng-click="vm.goToPosition()">&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-svg-icon="social:person"></md-icon>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Dish Washer</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-list-item ng-click="vm.goToPosition()">&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-svg-icon="social:person"></md-icon>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Dish Washer</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
                    <!--</md-list>-->
                    <!--&lt;!&ndash;<md-button class="md-raised">View All Positions</md-button>&ndash;&gt;-->
                <!--</md-card-content>-->
            <!--</md-card>-->
        <!--</div>-->



    </div>
</div>
