<div layout="column" flex class="dp9-position-detail-view">
    <div layout="row">
        <div layout="column" id="cardListDiv">
            <!--<div class="md-toolbar-tools" layout="column">-->
                <div layout="row" flex="100" class="dp9-card-list-title">
                    <md-button class="md-icon-button dp9-back-button" aria-label="Back to Clients"
                               ui-sref="positions({clientId: 'unfps'})" hide-xs>
                        <md-tooltip md-direction="top" md-delay="400">
                            Back to positions list
                        </md-tooltip>
                        <md-icon md-svg-icon="navigation:arrow_back"></md-icon>
                    </md-button>
                    <div flex-xs>
                        <h1 id="cardListH1">
                            Kung Fu Grand Master
                            <!--United Federation of Planets Starfleet Positions-->
                        </h1>
                    </div>

                    <md-button class="md-fab md-mini md-primary" ng-click="vm.addUser($event)" aria-label="Add Position">
                        <md-tooltip md-direction="top" md-delay="400">
                            Add Position
                        </md-tooltip>
                        <md-icon md-svg-icon="content:add"></md-icon>
                    </md-button>

                </div>
                <div layout="row" class="dp9-card-list-title">
                    <span id="cardListSubSpan">Killer 2 inch punch required, must be able to juggle knives while on one knee</span>
                </div>
            <!--</div>-->
        </div>
    </div>
    <div layout="row" class="dp9-card-list-title">
        <h3 class="dp9-section-label">Candidates</h3>
    </div>
    <div flex layout="row" layout-xs="column" flex-xs="100" layout-fill layout-wrap layout-padding>
        <a class="dp9-card-link" href="http://www.jalopnik.com" layout="column" flex-xs="100">
            <md-card class="dp9-card dp9-card-link md-whiteframe-3dp" flex-xs="100" flex dp9-card-link-hover>
                <md-card-title class="dp9-card-title">
                    <md-card-title-text>
                        <span class="md-headline">
                            Bruce Lee
                            <md-tooltip md-delay="400">Bruce Lee</md-tooltip>
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout="column">
                    <div>
                        <p style="overflow-wrap: break-word">
                            brucewhydoyouhavesuchalongemailaddress.lee@gmail.com
                        </p>
                        <p>
                            (702) 889-2792
                        </p>

                        <p>
                            <strong>Average Rank</strong>: 2
                        </p>
                    </div>

                    <md-button class="md-raised" ng-disabled="false">
                        <span ng-if="true">Download Resume</span>
                        <span ng-if="false">No Resume Available</span>
                    </md-button>

                </md-card-content>
            </md-card>
        </a>
        




    </div>
</div>


