<div layout="column" flex class="dp9-position-detail-view">
    <div layout="row">
        <div layout="column" style="min-height: 64px;">
            <!--<div class="md-toolbar-tools" layout="column">-->
                <div layout="row" flex="100" style="align-items: center; letter-spacing: 0.005em; padding: 0 24px; font-size: 20px;">
                    <md-button class="md-icon-button dp9-back-button" aria-label="Back to Clients" ui-sref="clients" hide-xs
                        style="margin: 0 0 0 -12px;">
                        <md-tooltip md-direction="top" md-delay="400">
                            Back to positions list
                        </md-tooltip>
                        <md-icon md-svg-icon="navigation:arrow_back"></md-icon>
                    </md-button>
                    <div flex-xs>
                        <h1 id="cardListH1" style="margin: 0; font-weight: 400; box-sizing: border-box">
                            <!--Kung Fu Grand Master-->
                            United Federation of Planets Starfleet Positions
                        </h1>
                    </div>

                    <md-button class="md-fab md-mini md-primary" ng-click="vm.addUser($event)" aria-label="Add Position">
                        <md-tooltip md-direction="top" md-delay="400">
                            Add Position
                        </md-tooltip>
                        <md-icon md-svg-icon="content:add"></md-icon>
                    </md-button>

                    <!--<md-button class="md-icon-button" ng-click="vm.addUser($event)" aria-label="Edit Position Name">-->
                        <!--<md-tooltip md-direction="top" md-delay="400">-->
                            <!--Edit Position Name-->
                        <!--</md-tooltip>-->
                        <!--<md-icon md-svg-icon="editor:mode_edit"></md-icon>-->
                    <!--</md-button>-->
                </div>
                <!--<div layout="row">-->
                    <!--Killer 2 inch punch required-->
                <!--</div>-->


            <!--</div>-->
        </div>

    </div>
    <md-content flex layout="row" layout-xs="column" flex-xs="100" layout-fill layout-wrap layout-padding>
        <a class="dp9-card-link" href="http://www.jalopnik.com" layout="column" flex-xs="100"
           >
            <md-card class="dp9-card dp9-card-link md-whiteframe-3dp" flex-xs="100" flex dp9-card-link-hover>
                <md-card-title style="flex-basis: auto; flex-grow: 0;">
                    <md-card-title-text>
                        <span class="md-headline">
                            {{p.name}}
                            <md-tooltip md-delay="400">{{p.name}}</md-tooltip>
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout="column">
                    <!--<p>Minimum 15 years of experience. Similar demeanor to Gordon Ramsey</p>-->
                    <div>
                        <p style="overflow-wrap: break-word">
                            {{p.description}} {{vm.client.$id}}
                        </p>

                        <p ng-repeat="c in p.candidates | orderObjectBy: 'rank' : false | limitTo:1">
                            <strong>Top Candidate</strong>: {{c.name}}
                        </p>
                        <p><strong>Latest Update</strong>: {{p.latestUpdate}}</p>
                    </div>


                </md-card-content>
            </md-card>
        </a>




    </md-content>
</div>


