<div layout="column" flex class="dp9-position-detail-view">
    <div layout="row">
        <div layout="column" id="cardListDiv">
            <!--<div class="md-toolbar-tools" layout="column">-->
                <div layout="row" flex="100" class="dp9-card-list-title">
                    <md-button class="md-icon-button dp9-back-button" aria-label="Back to Clients"
                               ui-sref="positions({clientId: 'unfps'})" hide-xs>
                        <md-tooltip md-direction="top" md-delay="400">
                            Back to positions list
                        </md-tooltip>
                        <md-icon md-svg-icon="navigation:arrow_back"></md-icon>
                    </md-button>
                    <div flex-xs>
                        <h1 id="cardListH1">
                            Kung Fu Grand Master
                            <!--United Federation of Planets Starfleet Positions-->
                        </h1>
                    </div>

                    <md-button class="md-icon-button" ng-click="vm.addUser($event)" aria-label="Add Position">
                        <md-tooltip md-direction="right" md-delay="400">
                            Edit
                        </md-tooltip>
                        <md-icon md-svg-icon="editor:mode_edit"></md-icon>
                    </md-button>

                </div>
                <div layout="row" class="dp9-card-list-title">
                    <span id="cardListSubSpan">Killer 2 inch punch required, must be able to juggle knives while on one knee</span>
                </div>
            <!--</div>-->
        </div>
    </div>
    <div layout="row" class="dp9-card-list-title" style="margin-top: 1em;">
        <div>
            <h3 class="dp9-section-label" style="margin: 0;">Candidates</h3>
        </div>
        <md-button class="md-icon-button" ng-click="vm.addUser($event)" aria-label="Add Candidate">
            <md-tooltip md-direction="right" md-delay="400">
                Add A Candidate
            </md-tooltip>
            <md-icon md-svg-icon="content:add"></md-icon>
        </md-button>
    </div>
    <div flex layout="row" layout-xs="column" flex-xs="100" layout-fill layout-wrap layout-padding>
        <a class="dp9-card-link" href="http://www.jalopnik.com" layout="column" flex-xs="100">
            <md-card class="dp9-card dp9-card-link md-whiteframe-3dp" flex-xs="100" flex dp9-card-link-hover>
                <md-card-title class="dp9-card-title">
                    <md-card-title-text>
                        <span class="md-headline">
                            Bruce Lee
                            <md-tooltip md-delay="400">Bruce Lee</md-tooltip>
                        </span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout="column" flex>
                    <div>
                        <p style="overflow-wrap: break-word">
                            brucewhydoyouhavesuchalongemailaddress.lee@gmail.com
                        </p>
                        <p>
                            (702) 889-2792
                        </p>

                        <p>
                            <strong>Average Rank</strong>: 2
                        </p>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="center center">
                    <md-button ng-disabled="false" aria-label="Download Resume" class="dp9-card-action-button">
                        <span ng-if="true">Download Resume</span>
                        <span ng-if="false">No Resume Available</span>
                    </md-button>
                </md-card-actions>
            </md-card>
        </a>
    </div>
    <div layout="row" class="dp9-card-list-title" style="margin-top: 1em;">
        <div>
            <h3 class="dp9-section-label" style="margin: 0;">Notes</h3>
        </div>
        <md-button class="md-icon-button" ng-click="vm.addUser($event)" aria-label="Add Note">
            <md-tooltip md-direction="right" md-delay="400">
                Add A Note
            </md-tooltip>
            <md-icon md-svg-icon="content:add"></md-icon>
        </md-button>
    </div>
    <div layout-padding class="dp9-notes-div">
        <md-list flex-xs="100" flex="75" class="md-whiteframe-2dp">
            <md-list-item class="md-2-line" ng-click="vm.editNote();">
                <div class="md-list-item-text dp9-note">
                    <p class="dp9-notes-text">Previously, I was an inveterate busy person. I was too busy for just about everything. And I’m still tremendously guilty of this.</p>
                    <p>
                        Issac, Oct 10
                    </p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-list-item class="md-2-line" ng-click="vm.editNote();">
                <div class="md-list-item-text dp9-note">
                    <p class="dp9-notes-text">
                        JUBILANT crowds waved Russian flags; homecoming pilots were given fresh-baked bread by women in traditional dress. Judging by the pictures on television, Vladimir Putin won a famous victory in Syria this week. After his unexpected declaration that the campaign is over, Mr Putin is claiming credit for a ceasefire and the start of peace talks. He has shown off his forces and, heedless of civilian lives, saved the regime of his ally, Bashar al-Assad (though Mr Assad himself may yet prove dispensable). He has “weaponised” refugees by scattering Syrians among his foes in the European Union. And he has outmanoeuvred Barack Obama, who has consistently failed to grasp the enormity of the Syrian civil war and the threat it poses to America’s allies in the Middle East and Europe.
                    </p>
                    <p>Issac, Oct 10</p>
                </div>
            </md-list-item>

            <!--<md-list-item class="md-2-line">-->
                <!--<div class="md-list-item-text">-->
                    <!--<h3>Where is my cheese</h3>-->
                    <!--<p>Kelvin, Oct 10</p>-->
                <!--</div>-->
            <!--</md-list-item>-->
        </md-list>

    </div>
</div>


