<md-content flex layout-padding>
    <md-toolbar class="md-table-toolbar md-default" ng-show="vm.selected.length === 0">
        <div class="md-toolbar-tools">
            <span flex>Users</span>
            <md-button class="md-icon-button" ng-click="vm.addUser($event)" aria-label="Add User">
                <md-tooltip md-direction="left">
                    Add a new user
                </md-tooltip>
                <md-icon md-svg-icon="content:add"></md-icon>
            </md-button>
            <!--<md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="vm.addUser($event)">-->
            <!--<md-icon md-svg-icon="content:add"></md-icon>-->
            <!--</md-button>-->
        </div>

    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selected.length > 0">
        <div class="md-toolbar-tools">
            <span flex>{{vm.selected.length}} User<span ng-if="vm.selected.length > 1">s</span> Selected</span>
            <!--<a role="button" ng-click="vm.addUser($event)"><md-icon md-svg-icon="content:add_circle"></md-icon></a>-->
            <md-button class="md-icon-button" aria-label="Trash Can" ng-click="vm.deleteUser($event)">
                <md-tooltip md-direction="left">
                    Toggle Selected Disabled States
                </md-tooltip>
                <md-icon md-svg-icon="action:delete"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-row-select ng-model="vm.selected" md-progress="vm.promise">
            <thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
            <tr md-row>
                <th md-column md-order-by="firstName"><span>First Name</span></th>
                <th md-column md-order-by="lastName"><span>Last Name</span></th>
                <th md-column md-order-by="email"><span>Email</span></th>
                <th md-column md-order-by="role"><span>Role</span></th>
                <th md-column md-order-by="hasTemporaryPassword"><span>Has Temporary Password</span></th>
                <th md-column md-order-by="temporaryPassword"><span>Temporary Password</span></th>
                <th md-column md-order-by="isDisabled"><span>Disabled</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="u" md-select-id="{{u.email}}" md-auto-select ng-repeat="u in vm.users.tableData">
                <td md-cell>{{u.firstName}}</td>
                <td md-cell>{{u.lastName}}</td>
                <td md-cell>{{u.email}}</td>
                <td md-cell>{{u.role}}</td>
                <td md-cell>{{u.hasTemporaryPassword}}</td>
                <td md-cell>{{u.temporaryPassword}}</td>
                <td md-cell>{{u.isDisabled}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.users.totalUsers}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
    <!--{{vm.query | json}}-->
    <!--<br>-->
    <!--{{vm.selected | json}}-->
</md-content>
