
<div layout="row" flex="100" ng-cloak>

    <section layout="column" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-toolbar class="md-theme-indigo" layout="row">
                <a role="button" ng-href="" ng-click="vm.toggleSideNav()" class="md-toolbar-tools">
                    Admin
                </a>
                <!--<md-button ng-click="vm.toggleSideNav()">-->
                    <!--<md-icon md-svg-icon="navigation:close" aria-label="Close Icon"></md-icon>-->
                <!--</md-button>-->
            </md-toolbar>
            <md-list>
                <md-list-item>
                    <div layout="column" flex>
                        <md-button class="full-width" layout="row" ng-click="vm.toggleSublist()">
                            <div layout="row">
                                <div class="txt-align-start" flex layout-align="start start">
                                    <md-icon md-svg-icon="action:supervisor_account"></md-icon>
                                    Users
                                </div>
                                <div flex="20" layout-align="end center">
                                    <md-icon class="nav-chevron-icon" ng-class="{'sub-list-open': vm.subListShowing}" md-svg-icon="navigation:chevron_right"></md-icon>
                                </div>
                            </div>
                        </md-button>
                        <md-list id="testSubList" flex class="nav-sub-list">
                            <md-list-item>
                                <md-button class="txt-align-start full-width">
                                    Admins
                                </md-button>
                            </md-list-item>
                            <md-list-item>
                                <md-button class="txt-align-start full-width">
                                    Clients
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </div>

                </md-list-item>

                <!--<md-list-item>-->
                    <!--<md-button>-->
                        <!--<md-icon md-svg-icon="action:supervisor_account"></md-icon>-->
                        <!--Lol-->
                    <!--</md-button>-->
                <!--</md-list-item>-->
                <!--<md-list-item>-->
                    <!--<md-button>-->
                        <!--<md-icon md-svg-icon="share"></md-icon>-->
                        <!--Lol-->
                    <!--</md-button>-->
                <!--</md-list-item>-->
                <!--<md-list-item>-->
                    <!--<md-button>-->
                        <!--<md-icon md-svg-icon="share"></md-icon>-->
                        <!--Lol-->
                    <!--</md-button>-->
                <!--</md-list-item>-->
            </md-list>
        </md-sidenav>

        <md-toolbar class="md-theme-indigo" layout="row">
            <md-button ng-click="vm.toggleSideNav()">
                <md-icon md-svg-icon="menu" aria-label="Menu Icon"></md-icon>
            </md-button>

            <h1 class="md-toolbar-tools">Deepspace9</h1>
        </md-toolbar>
        <md-content flex layout-padding>
            <!--<div layout="column" layout-fill layout-align="top center">-->
                <!--<p>-->
                    <!--The left sidenav will 'lock open' on a medium (>=960px wide) device.-->
                <!--</p>-->
                <!--<p>-->
                    <!--The right sidenav will focus on a specific child element.-->
                <!--</p>-->
                <!--<div>-->
                    <!--<md-button ng-click="vm.toggleSideNav()"-->
                               <!--class="md-primary">-->
                        <!--Toggle left-->
                    <!--</md-button>-->
                <!--</div>-->
            <!--</div>-->
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <span>Nutrition</span>
                </div>
            </md-toolbar>
            <md-table-container>
                <table md-table md-row-select ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="onReorder">
                    <tr md-row>
                        <th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>
                        <th md-column md-numeric md-order-by="calories"><span>Calories</span></th>
                        <th md-column md-numeric>Fat (g)</th>
                        <th md-column md-numeric>Carbs (g)</th>
                        <th md-column md-numeric md-order-by="protein">Protein (g)</th>
                        <th md-column md-numeric>Sodium (mg)</th>
                        <th md-column md-numeric>Calcium (%)</th>
                        <th md-column md-numeric>Iron (%)</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="dessert" md-select-id="{{dessert.name}}" md-auto-select ng-repeat="dessert in desserts">
                        <td md-cell>{{dessert.name}}</td>
                        <td md-cell ng-click="editComment($event, dessert)">{{dessert.calories}}</td>
                        <td md-cell>{{dessert.fat | number: 1}}</td>
                        <td md-cell>{{dessert.carbs}}</td>
                        <td md-cell>{{dessert.protein | number: 1}}</td>
                        <td md-cell>{{dessert.sodium}}</td>
                        <td md-cell>{{dessert.calcium}}{{dessert.calcium.unit}}</td>
                        <td md-cell>{{dessert.iron}}{{dessert.iron.unit}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.length}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
            {{query | json}}
            <br>
            {{selected | json}}
        </md-content>

    </section>
</div>

